
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>

    <link rel="stylesheet" href="~/Material-Admin-master/template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Material-Admin-master/template/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Material-Admin-master/template/assets/css/demo/style.css">
    <link rel="shortcut icon" href="~/Material-Admin-master/template/assets/images/favicon.png" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
@*     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" /> *@
    <style>
        #content-iframe {
            position: fixed;
            width: 100%;
            height: 100%;
            border: none;
        }

        #search-results {
            position: absolute;
            top: 100%; /* Search bar'ın altında olacak şekilde ayarla */
            left: 0;
            width: 100%;
            background-color: white;
            border: 1px solid #ccc;
            z-index: 1000; /* Diğer elementlerin üzerinde olacak şekilde ayarla */
            display: none; /* Başlangıçta gizli yap */
        }

        #search-results-list {
            list-style-type: none;
            padding: 0;
        }

            #search-results-list li {
                padding: 10px;
                cursor: pointer;
            }

                #search-results-list li:hover {
                    background-color: #f1f1f1;
                }


    </style>
</head>
<body>
    <div class="body-wrapper">
        @if (Context.Request.Path == @"/Admin")
        {
            @await Html.PartialAsync("/Views/Admin/PartialSidebar.cshtml")
        }
        <div class="main-wrapper mdc-drawer-app-content">
        @if (Context.Request.Path == @"/Admin")
        {
                @await Html.PartialAsync("/Views/Admin/PartialNavbar.cshtml")
            }
            <div class="page-wrapper mdc-toolbar-fixed-adjust">
                <main class="content-wrapper">
                    <iframe id="content-iframe" srcdoc='@RenderBody()' name="content-iframe" frameborder="0"></iframe>
                </main>
        @if (Context.Request.Path == @"/Admin")
        {
                    @await Html.PartialAsync("/Views/Admin/PartialFooter.cshtml")
                }
            </div>
        </div>
    </div>

    
    <script src="~/Material-Admin-master/template/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Material-Admin-master/template/assets/js/material.js"></script>
    <script src="~/Material-Admin-master/template/assets/js/misc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js" type="text/javascript"></script>


    <script>
        $(document).ready(function () {
            // iframe içindeki tablo seçicisi ile tabloyu seç
            var iframe = $('#content-iframe').contents();
            var table = iframe.find('#userTable');

            // Datatables'ı başlat
            table.DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#content-iframe .col-md-6:eq(0)');
        });
    </script>
    <script>
        function resizeIframe() {
            var iframe = document.getElementById('content-iframe');
            iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
        }

    </script>

    <script>
        $(document).ready(function () {
         $("#text-field-hero-input").on("input", function () {
            var searchText = $(this).val().toLowerCase();
            var searchResultsList = $("#search-results-list");
            searchResultsList.empty(); // Temizleme işlemi

            $(".mdc-drawer-submenu a.mdc-drawer-link").each(function () {
                var moduleText = $(this).text().toLowerCase();
                var moduleRoute = $(this).attr("href"); // Modülün route'u
                if (moduleText.includes(searchText)) {
                    var listItem = $("<li></li>")
                        .addClass("search-result-item") // Tıklanabilirlik için sınıf ekle
                        .text($(this).text());

                    listItem.click(function () {
                        // Listeye tıklandığında yapılacak işlemler buraya gelecek
                        window.location.href = moduleRoute;
                    });
                    searchResultsList.append(listItem);
                }
            });

            $("#search-results").toggle(searchText.length > 0); // Arama sonuçları varsa göster
        });

        // Açılan listedeki öğeler için tıklanabilirlik ekle
        $("#search-results-list").on("click", ".search-result-item", function () {
            var moduleRoute = $(this).text(); // Öğe metni, yani modül adı
            // Yapılacak işlemler buraya gelecek
            window.location.href = moduleRoute; // Modül adıyla bir şeyler yapabilirsiniz
        });
        
    });
    </script>   
</body>
</html>
