<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand m-3" href="#">
        <img src="~/img/Logo_img/Uzser_Logo.png" width="250" height="50" alt="">
    </a>
   @*  <ul>
        <li class="dropdown">
            <span class="dot"></span>
            <a href="#" class="dropbtn">Dil Seçimi</a>
            <span class="arrow">&#9654;</span>
            <div class="dropdown-content">
                <a href="/Language/ChangeLanguage?culture=tr-TR">Türkçe</a>
                <a href="/Language/ChangeLanguage?culture=en-US">English</a>
                <!-- Diğer dilleri burada ekleyebilirsiniz -->
            </div>
        </li>
    </ul> *@
</nav>